.style, .effort, .faith, .success {
  font-family: sans-serif;
  font-weight: bold;
  border: 1px solid black;
  padding: 15px;
  margin: 10px;
}

.success {
  background-color: pink;
}

.faith {
  background-color: green;
}

.effort {
  background-color: orange;
}

.style {
  background-color: lightblue;
}